<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <title>Edit Car</title>
</head>
<body>
<div class="container">
    <h1 class="my-4">Edit Car</h1>

    <form th:action="@{/car/editCar}" method="post" th:object="${car}">
        <input type="hidden" th:field="*{carId}" />
        <div class="form-group">
            <label for="carName">Car Name</label>
            <input type="text" id="carName" th:field="*{carName}" name="carName" th:value="${car.carName}" class="form-control mb-4 col-4" >
        </div>
        <div class="form-group">
            <label for="carColor">Car Color</label>
            <input th:field="*{carColor}" type="text" id="carColor" name="carQuantity" th:value="${car.carColor}" class="form-control mb-4 col-4" >
        </div>
        <div class="form-group">
            <label for="carQuantity">Car Quantity</label>
            <input th:field="*{carQuantity}" type="number" id="carQuantity" name="carQuantity" th:value="${car.carQuantity}" class="form-control mb-4 col-4" >
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
</body>
</html>